<div class="page">
    <main class="content">
        <section class="info">
            <div class="code">404</div>

            <h1 class="title">Страница не найдена</h1>

            <p class="description">
                Информация по указанному адресу не найдена или страница была
                перемещена.
            </p>
        </section>

        <div class="actions">
            <button
                tuiButton
                type="button"
                iconStart="@tui.house"
                (click)="goToMain()"
            >
                На главную
            </button>

            <button
                tuiButton
                type="button"
                iconStart="@tui.arrow-left"
                appearance="flat"
                (click)="goBack()"
            >
                Вернуться назад
            </button>
        </div>
    </main>

    <footer class="footer">
        <span class="brand">Astusha ID</span>

        <span class="copyright"> © 2026 Astusha ID. Все права защищены. </span>
    </footer>
</div>
