<div class="actions">
    <header class="header">
        <h2 class="title">Быстрые действия</h2>
    </header>

    <div class="list">
        @for (action of actions; track action.title) {
            <button
                tuiButton
                type="button"
                class="item"
                appearance="flat"
                [class.item_danger]="action.danger"
                (click)="action.handler()"
            >
                <div class="icon-wrapper">
                    <tui-icon class="icon" [icon]="action.icon" />
                </div>

                <div class="content">
                    <p class="item-title">
                        {{ action.title }}
                    </p>

                    <p class="item-description">
                        {{ action.description }}
                    </p>
                </div>

                <tui-icon class="chevron" icon="@tui.chevron-right" />
            </button>
        }
    </div>
</div>
