<div class="services">
    <header class="header"> Подключённые сервисы Astusha </header>

    <div class="list">
        @for (service of services; track service.name) {
            <div class="service">
                <div class="icon">
                    <tui-icon [icon]="service.icon" />
                </div>

                <div class="content">
                    <div class="top">
                        <div class="main">
                            <p class="name">
                                {{ service.name }}
                            </p>

                            <p class="description">
                                {{ service.description }}
                            </p>
                        </div>

                        <span tuiBadge [appearance]="service.badge.appearance">
                            {{ service.badge.text }}
                        </span>
                    </div>

                    <div class="bottom">
                        <div class="meta">
                            <span class="meta-label">
                                {{ service.meta.label }}
                            </span>

                            <span class="meta-value">
                                {{ service.meta.value }}
                            </span>
                        </div>

                        <button
                            tuiButton
                            type="button"
                            appearance="flat"
                            iconStart="@tui.chevron-right"
                            [attr.aria-label]="'Перейти в ' + service.name"
                            [disabled]="!service.action"
                            (click)="service.action?.()"
                        ></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
