<div class="warning">
    <div class="icon-wrapper">
        <tui-icon class="icon" icon="@tui.triangle-alert" />
    </div>

    <div class="content">
        <h2 class="title"> Удалить аккаунт? </h2>

        <p class="description">
            Это действие нельзя будет отменить. Аккаунт, данные профиля и
            активные сессии будут удалены.
        </p>

        <p class="hint">
            Для подтверждения на следующем шаге нужно будет ввести пароль.
        </p>
    </div>

    <div class="actions">
        <button
            tuiButton
            type="button"
            appearance="flat"
            size="m"
            (click)="context.$implicit.complete()"
        >
            Нет, оставить
        </button>

        <button
            tuiButton
            type="button"
            appearance="accent"
            size="m"
            (click)="openDeleteProfileDialog()"
        >
            Да, удалить
        </button>
    </div>
</div>
