<div class="dialog">
    <header class="header">
        <div tuiAvatar="@tui.shield-check" size="l" appearance="warning"></div>

        <div class="info">
            <h2 class="title"> Двухфакторная аутентификация </h2>

            <p class="description">
                Добавьте дополнительный уровень защиты для вашего аккаунта.
            </p>
        </div>
    </header>

    <main class="content">
        <section class="status">
            <div
                tuiAvatar="@tui.lock-keyhole"
                size="m"
                appearance="positive"
            ></div>

            <div class="status-info" [tuiSkeleton]="isLoading()">
                @if (isTwoFactorEnabled()) {
                    <div class="status-title"> 2FA включена </div>
                } @else {
                    <div class="status-title"> 2FA выключена </div>
                }

                <div class="status-description">
                    Ваш аккаунт защищён дополнительным уровнем безопасности.
                </div>
            </div>

            <input
                tuiSwitch
                type="checkbox"
                [formControl]="control"
                [tuiSkeleton]="isLoading()"
                (change)="toggleTwoFactor()"
            />
        </section>
    </main>
</div>
