<div class="banner">
    <div class="icon-wrapper">
        <tui-icon class="icon" icon="@tui.shield-check" />
    </div>

    <div class="content">
        <h2 class="title"> Ваш аккаунт защищён </h2>

        <p class="description">
            Мы регулярно проверяем безопасность вашего аккаунта и уведомим вас о
            любых подозрительных действиях
        </p>
    </div>

    <button
        tuiButton
        class="button"
        type="button"
        appearance="outline"
        size="m"
    >
        Подробнее
    </button>
</div>
